In [2]:
import sqlalchemy as db

In [20]:
engine = db.create_engine('sqlite:///airports.sqlite')
connection = engine.connect()
metadata = db.MetaData()
airports = db.Table('airports', metadata, autoload=True, autoload_with=engine)

In [22]:
metadata

MetaData(bind=None)

In [5]:
# Print the column names
print(airports.columns.keys())

['id', 'name', 'city', 'country', 'iata', 'icao', 'latitude', 'longitude', 'altitude', 'timezone', 'dst']

In [6]:
# Print full table metadata
print(repr(metadata.tables['airports']))

Table('airports', MetaData(bind=None), Column('id', INTEGER(), table=<airports>), Column('name', VARCHAR(length=100), table=<airports>), Column('city', VARCHAR(length=100), table=<airports>), Column('country', VARCHAR(length=100), table=<airports>), Column('iata', VARCHAR(length=3), table=<airports>), Column('icao', VARCHAR(length=4), table=<airports>), Column('latitude', REAL(), table=<airports>), Column('longitude', REAL(), table=<airports>), Column('altitude', INTEGER(), table=<airports>), Column('timezone', INTEGER(), table=<airports>), Column('dst', TEXT(length=1), table=<airports>), schema=None)

In [9]:
#Equivalent to 'SELECT * FROM census'
query = db.select([airports])

In [10]:
ResultProxy = connection.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet[:3]

[(1, 'Goroka', 'Goroka', 'Papua New Guinea', 'GKA', 'AYGA', -6.081689, 145.391881, 5282, 10, 'U'),
 (2, 'Madang', 'Madang', 'Papua New Guinea', 'MAG', 'AYMD', -5.207083, 145.7887, 20, 10, 'U'),
 (3, 'Mount Hagen', 'Mount Hagen', 'Papua New Guinea', 'HGU', 'AYMH', -5.826789, 144.295861, 5388, 10, 'U')]

In [7]:
df = pd.DataFrame(ResultSet)
df.columns = ResultSet[0].keys()

NameError: name 'pd' is not defined

In [8]:
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base

In [9]:
engine = create_engine('sqlite:///Chinook_Sqlite.sqlite')

Base = automap_base()

In [11]:
Base.prepare(engine,reflect=True)
Base.classes.keys()

['Album',
 'Artist',
 'Customer',
 'Employee',
 'Genre',
 'Invoice',
 'InvoiceLine',
 'Track',
 'MediaType',
 'Playlist']

In [6]:
from sqlalchemy.orm import Session

In [12]:
import sqlalchemy as db

In [16]:
engine = db.create_engine('sqlite:///Chinook_Sqlite.sqlite')
connection = engine.connect()
metadata = db.MetaData()

In [19]:
connection

In [ ]:
query = db.select([census])